Q.1 - **Explain the key feature of Python that makes it a popular choice for programming.**

**Ans.**- Python's popularity stems from its simplicity, versatility, and great ecosystem. Python's syntax is clean and easy to read, which reduces the learning curve for beginners. Python is an interpreted language, meaning code is excuted line by line without the need for compilation. This makes testing and debugging easier. Python comes with a comprehensive standard library that provides modules for handling regular expressions. Python also has a rich ecosystem of third-party libraries e.g NumPy for scientific computing, Pandas for Data analysis. Python is platform independent, meaning that python program can run on any operating system (window, macOS,Linux) without modification. This makes it a great choice of building cross-platform applictions.In conclusion, Python's simplicity, vesratility, and storg ecosystem of tools make it an excellent choice for beginners and experts.

Q.2 - **Describe the role of predefined keywords in Python and provide examples of how they are used in a program.**

**Ans.**- In Python predefined keywords (also known as reserved words) are special words that have predefined meanings and cannot be used for any other purpose, such as naming variables or functions. They form the syntax and structure of the Python language, defining how the code is interpreted by the Python interpreter. for example (if, else, elif, for, while, def, exept, with, as, break, true, false, none etc.).
- Control Flow: Keywords like if, else, for, and while are used to control the flow of execution in a program.
- Function and Class Definition: Keywords such as def and class are used to define functions and classes, respectively.
- Exception Handling: Keywords like try, except, finally, and raise are used for handling exceptions and errors.
- Context Management: The with keyword is used for resource management, ensuring that resources are properly cleaned up after use.
- Boolean Values: True, False, and None are used to represent truth values and null values in the language.

In [2]:
# Examples of common python keywords and their usage
# if, else, elif used for condition statements.
x = 9
if x > 9:
  print ("greater than 9")
elif x == 10:
  print ("equal to 9")
else:
  print ("less than 9")

less than 9

Q.3 - **Compare and contrast mutable and immutable objects in Python with examples.**

**Ans.**- In Python objects can be classified into two categories: mutable and immutable. The main difference between them lies in whether their content can be changed after they are created.

**Mutable objects** are those whose state or value can be changed after they are created. Examples include lists, dictionaries, and sets.Their contents can be modified without creating a new object.They often provide methods for adding, removing, or changing elements.

**Immutable objects** are those whose state or value cannot be changed after they are created. Examples include strings, tuples, and frozensets. Any operation that modifies an immutable object will create a new object instead of changing the existing one. They are often safer to use in multi-threaded programs since their state cannot change unexpectedly.

Mutability: Mutable objects can be changed in place, while immutable objects cannot.

Performance: Mutable objects may have better performance in scenarios requiring frequent updates, whereas immutable objects are safer in concurrent environments.

Use Cases: Use mutable types when you need to modify data frequently, and immutable types when you want to ensure that data remains constant.

In [15]:
#Mutable Objects Example

my_list = [1, 2, 3]
print(my_list)  # Output: [1, 2, 3]
my_list.append(4)
print(my_list)  # Output: [1, 2, 3, 4]

[1, 2, 3]
[1, 2, 3, 4]

In [16]:
my_set = {1, 2, 3}
print(my_set)  # Output: {1, 2, 3}
my_set.add(4)
print(my_set)  # Output: {1, 2, 3, 4}

{1, 2, 3}
{1, 2, 3, 4}

In [18]:
#Immutable Object Example
#string

A = "Hello"
print(A)  # Output: Hello
A += " World"
print(A)  # Output: Hello World
# Original string remains unchanged

Hello
Hello World

Q.4 - **Discuss the different types of operators in Python and provide examples of how they are used.**

**Ans.**- In Python operators are special symbols that perform operations on variables and values. Python supports several types of operators, each serving a different purpose. Here’s an overview of the main types of operators along with examples of how they are used.

- **Arithmetic Operators**
These operators perform basic mathematical operations.

Addition (+): Adds two operands.

Subtraction (-): Subtracts the second operand from the first.

Multiplication (*): Multiplies two operands.

Division (/): Divides the first operand by the second.

Floor Division (//): Divides and returns the largest integer less than or equal to the result.

Modulus (%): Returns the remainder of the division.

Exponentiation (**): Raises the first operand to the power of the second.

- **Comparison Operators**
These operators compare two values and return a boolean result (True or False).

Equal (==): Checks if two operands are equal.

Not Equal (!=): Checks if two operands are not equal.

Greater Than (>): Checks if the left operand is greater than the right.

Less Than (<): Checks if the left operand is less than the right.

Greater Than or Equal To (>=): Checks if the left operand is greater than or equal to the right.

Less Than or Equal To (<=): Checks if the left operand is less than or equal to the right.

- **Logical Operators**
These operators combine boolean values.

AND (and): Returns True if both operands are true.

OR (or): Returns True if at least one operand is true.

NOT (not): Reverses the boolean valu

- **Assignment Operators**
These operators assign values to variables.

Assignment (=): Assigns the right operand to the left.

Add and Assign (+=): Adds the right operand to the left and assigns the result.

Subtract and Assign (-=): Subtracts the right operand from the left and assigns the result.

Multiply and Assign (*=): Multiplies the left operand by the right and assigns the result.

Divide and Assign (/=): Divides the left operand by the right and assigns the result.

Floor Divide and Assign (//=): Performs floor division and assigns the result.

Modulus and Assign (%=): Performs modulus and assigns the result.

Exponentiate and Assign (**=): Performs exponentiation and assigns the result.

- **Bitwise Operators**
These operators perform operations on bits.

AND (&): Performs a bitwise AND.

OR (|): Performs a bitwise OR.

XOR (^): Performs a bitwise XOR.

NOT (~): Performs a bitwise NOT.

Left Shift (<<): Shifts bits to the left.

Right Shift (>>): Shifts bits to the right.

- **Identity Operators**
These operators check if two variables refer to the same object.

is: Returns True if both variables point to the same object.

is not: Returns True if both variables do not point to the same object.

- **Membership Operators**
These operators test for membership in sequences (like lists, strings, or tuples).

in: Returns True if the value is found in the sequence.

not in: Returns True if the value is not found in the sequence.

In [19]:
#Arithmetic Operators
a = 10
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a % b)
print(a ** b)

13
7
30
3.3333333333333335
3
1
1000

In [20]:
#Comparison Operators
x = 5
y = 10

print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

False
True
False
True
False
True

In [21]:
#Logical Operators
a = True
b = False

print(a and b)
print(a or b)
print(not a)

False
True
False

In [22]:
#Assignment Operators
x = 10
x += 5
print(x)

x *= 2
print(x)

15
30

In [23]:
#Bitwise Operators
a = 5
b = 3

print(a & b)
print(a | b)
print(a ^ b)
print(~a)
print(a << 1)
print(a >> 1)

1
7
6
-6
10
2

In [24]:
#Identity Operators
a = [1, 2, 3]
b = a
c = list(a)

print(a is b)
print(a is c)
print(a == c)
print(a is not c)

True
False
True
True

In [26]:
#Membership Operators
A = [1, 2, 3, 4]

print(2 in A)
print(5 not in A)

True
True

Q. 5 - **Explain the concept of type casting in Python with examples.**

**Ans.**- Type casting in Python refers to the process of converting a variable from one data type to another. This is useful when you need to perform operations on different data types or when you want to ensure that a value is in the correct format for a specific operation.

Python provides several built-in functions to facilitate type casting, allowing you to convert between various data types. Here are some common type casting functions:

int(): Converts a value to an integer.

float(): Converts a value to a floating-point number.

str(): Converts a value to a string.

list(): Converts an iterable (like a string or a tuple) to a list.

tuple(): Converts an iterable to a tuple.

set(): Converts an iterable to a set.

In [27]:
#Converting to Integer
# From float to int

num_float = 5.75
num_int = int(num_float)
print(num_int)

# From string to int
num_str = "10"
num_int = int(num_str)
print(num_int)

5
10

In [29]:
#Converting to Float

# From int to float
num_int = 10
num_float = float(num_int)
print(num_float)

# From string to float
num_str = "5"
num_float = float(num_str)
print(num_float)

10.0
5.0

In [31]:
#Converting to String

# From int to string
num_int = 42
num_str = str(num_int)
print(num_str)

# From float to string
num_float = 82
num_str = str(num_float)
print(num_str)

42
82

In [32]:
#Converting to List

# From string to list
str_example = "hello"
list_from_str = list(str_example)
print(list_from_str)

# From tuple to list
tuple_example = (1, 2, 3)
list_from_tuple = list(tuple_example)
print(list_from_tuple)

['h', 'e', 'l', 'l', 'o']
[1, 2, 3]

In [33]:
#Converting to Tuple

# From list to tuple
list_example = [1, 2, 3]
tuple_from_list = tuple(list_example)
print(tuple_from_list)

# From string to tuple
str_example = "abc"
tuple_from_str = tuple(str_example)
print(tuple_from_str)

(1, 2, 3)
('a', 'b', 'c')

In [34]:
#Converting to Set

# From list to set
list_example = [1, 2, 2, 3]
set_from_list = set(list_example)
print(set_from_list)  #Duplicate Removed

# From string to set
str_example = "hello"
set_from_str = set(str_example)
print(set_from_str)

{1, 2, 3}
{'o', 'l', 'h', 'e'}

Q.6 - **How do conditional statements work in Python? Illustrate with examples.**

**Ans.**- Conditional statements in Python allow you to execute specific blocks of code based on certain conditions. They are fundamental for controlling the flow of your program. The primary conditional statements in Python are if, elif, and else.

- **if** Statement: Checks a condition; if it evaluates to True, the code block under it is executed.

- **elif** Statement: Stands for "else if." It allows you to check multiple conditions. If the preceding conditions are False, it checks the elif condition.

- **else** Statement: Executes a block of code if none of the preceding conditions are True.

In [35]:
#if Statement

temperature = 30

if temperature > 25:
    print("It's a hot day!")

It's a hot day!

In [36]:
#if and else

age = 16

if age >= 18:
    print("You are an adult.")
else:
    print("You are a minor.")

You are a minor.

In [37]:
#if, elif, and else

score = 85

if score >= 90:
    print("Grade: A")
elif score >= 80:
    print("Grade: B")
elif score >= 70:
    print("Grade: C")
else:
    print("Grade: D")

Grade: B

In [38]:
#Nested Conditional Statements

num = 10

if num >= 0:
    print("The number is non-negative.")
    if num == 0:
        print("The number is zero.")
    else:
        print("The number is positive.")
else:
    print("The number is negative.")

The number is non-negative.
The number is positive.

In [39]:
#Using Logical Operators

a = 5
b = 10

if a < 10 and b > 5:
    print("Both conditions are True.")

if a < 10 or b < 5:
    print("At least one condition is True.")

Both conditions are True.
At least one condition is True.

Q.7 - Describe the different types of loops in Python and their use cases with examples.

Ans.- In Python loops are used to execute a block of code repeatedly as long as a specified condition is met. There are two primary types of loops: for loops and while loops. Each type serves different use cases based on the scenario and requirements of your program.

**for Loops**

- The for loop is used to iterate over a sequence (like a list, tuple, string, or range). It’s particularly useful when you know the number of iterations in advance or when you want to process items in a collection.

**Uses**

Iterating through items in a list or collection.

Performing an operation on each element.

Generating a sequence of numbers.

**While Loops**

- The while loop continues executing a block of code as long as a specified condition is True. It’s useful when the number of iterations is not known beforehand and depends on dynamic conditions.

**Uses**

Repeating an action until a certain condition is met.

Waiting for user input.

Continuously processing data until a stop condition is reached.

**Loop Control Statements**

- Python also provides control statements to modify the behavior of loops:

**break**: Terminates the loop immediately.

**continue**: Skips the current iteration and proceeds to the next one.

**pass**: A placeholder that does nothing and is used when a statement is syntactically required.

In [40]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [50]:
for i in range(5):
    print(i, end=" ")

0 1 2 3 4

In [44]:
count = 0
while count < 7:
    print(count)
    count += 1

0
1
2
3
4
5
6

In [49]:
for i in range(10):
    if i == 5:
        break
    print(i) #exit the loop when i is 5

0
1
2
3
4

In [51]:
for i in range(5):
    if i == 2:
        continue  # Skip the iteration when i is 2
    print(i)

0
1
3
4